@import '../variables.scss';

.Timeline {
    padding: 50px;
    box-sizing: border-box;
    transform-style: preserve-3d;
    // animation: rotate 10s infinite linear;
    display: grid;

    &_desktop {
        grid-template-columns: repeat(12, $size);
        grid-template-rows: repeat(24, $size);
        grid-gap: $size;
    }

    &_mobile {
        grid-template-columns: repeat(24, $size);
        grid-template-rows: repeat(12, $size);
        grid-gap: $size;
    }
}


@keyframes rotate {
    100% {
        transform: rotateY(360deg);
    }
}