@import '../../variables.scss';

.Timeline {
    display: grid;
    grid-template-columns: repeat(24, $size);
    grid-template-rows: repeat(13, $size);
    grid-gap: $size;
    grid-auto-flow: column;
    padding: 10px;
    box-sizing: border-box;
    transform-style: preserve-3d;

    &-Header {
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
        font-size: $size * 0.7;

        &_hours {
            touch-action: none;
            cursor: pointer;
        }

        &_minutes {
            position: relative;
            top: -100%;
        }
    }
}


@media (max-width: $mobile) {
    .Timeline {
        grid-template-columns: ($size-m * 2) repeat(12, $size-m);
        grid-template-rows: repeat(24, $size-m);
        grid-gap: $size-m / 1.5;
        grid-auto-flow: row;
        margin-left: -$size-m;
        padding: 20px 0;
        &-Header {
            font-size: $size-m * 0.7;

            &_hours {
                position: relative;
                justify-content: flex-end;
                padding-right: 4px;

                // Необходимы для лучшего UX при навигации на тачах
                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: $size-m / 3;
                }

                &::before {
                    top: -$size-m / 3;
                }

                &::after {
                    bottom: -$size-m / 3;
                }
            }

            &_minutes {
                position: relative;
                top: 0;
                left: -85%;
            }
        }
    }
}


@keyframes rotate {
    100% {
        transform: rotateY(360deg);
    }
}