@import '../variables.scss';

.TimeUnit {
    position: relative;
    width: $size;
    height: $size;

    &-Side {
        position: absolute;
        width: $size;
        height: $size;
        opacity: 0.7;

        &_back {
            background: $back-color;
            transform: translateZ($depth);
        }

        &_left {
            background: $left-color;
            transform: translateX($depth) rotateY(90deg);
        }

        &_right {
            background: $right-color;
            transform: translateX(-$depth) rotateY(90deg);
        }

        &_top {
            background: $top-color;
            transform: translateY($depth) rotateX(90deg);
        }

        &_bottom {
            background: $bottom-color;
            transform: translateY(-$depth) rotateX(90deg);
        }

        &_front {
            background: $front-color;
            transform: translateZ(-$depth);
        }
    }
}
