$size: 1.5vw;
$depth: $size / 2 * -1;

// TimeUnit colors
$main-color: lightgreen;

$front-color: $main-color;
$back-color: darken($main-color, 15%);
$left-color: darken($main-color, 10%);
$right-color: darken($main-color, 10%);
$top-color: darken($main-color, 5%);
$bottom-color: darken($main-color, 15%);

// Mobile
$mobile: 700px;
$size-m: 3.5vw;
$depth-m: $size-m / 2 * -1;